<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.horizon.doodledemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.horizon.doodledemo.application.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.horizon.doodledemo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.horizon.doodledemo.activity.GifDemoActivity"/>
        <activity android:name="com.horizon.doodledemo.activity.ImageDemoActivity"/>
        <activity android:name="com.horizon.doodledemo.activity.RotateImageActivity"/>

    </application>
</manifest>
